@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #2887ff;
    --primary_color_dark:#2476da;
    --text-dark: #0a0a0a;
    --text_light: #737373;
    --extra_light:#f3f4f6;
    --white: #fff;
    --max-widht:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

 .section_container{
    max-width: var(--max-widht);
    margin: auto;
    padding: 5rem 1rem;

}
 .section_header{
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;

}
 .section-description{
    max-width: 600px;
    margin-inline: auto;
    color: var(--text_light);
    text-align: center;
}  

 .btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    transition: .3s;
    cursor: pointer;
 }
 .btn:hover{
    background-color: var(--primary_color_dark);
 }
 .logo{
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--text-dark);
 }
 img{
    display: flex;
    width: 100%;

 }
 a{
    text-decoration: none;
    transition: .3s;
 }
ul{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}
body{
    font-family: "DM Sans" sans-serif;
}
nav{
    position:fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    z-index: 9;
}
.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);

}
.nav_logo .logo{
    font-size: 1.5rem;
    color: var(--white);
}
.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav_links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}
.nav_links.open{
    transform: translateY(100%);
}
.nav_links a{
    font-size: 18px;
    font-weight: 550;
    color: var(--white);
    white-space: nowrap;
}
.nav_links a:hover{
    color: var(--text-dark);

}
.nav_btns{
    display: none;
}


header{
    margin-top: 5rem;
    padding-inline: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
header::before{
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% - 2rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("image/db632b2b01b3be6241f9ee6ab7ff9130.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3rem;
    z-index: -1;
}

.header_container{
    display: grid;
}

.header_content{
    padding: 4rem 1rem;

}

.header_content p{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
    text-align: center;
}
.header_content h1{
    margin-bottom: 2rem;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 5.5rem;
    text-align: center;
}
.header_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header_btns .btn{
    padding: 1rem 2rem;
}
.header_btns a{
    padding: 9px 13px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 100%;

}
.header_btns a:hover{
    color: var(--white);
    background-color: var(--primary-color);
}

.destination_container :is(.section_header, .section-description){
    text-align: left;
    margin-inline-start: unset;

}
.destination_grid{
    margin-top: 2rem;
    display: grid;
    gap: 15rem, 1rem;
    /* height: 50%;
    width: 60%; */
    /* display: flex; */
    
    
}


.destination_card img{
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    height: 50%;
     
}

.destination_card_details{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.destination_card_details h4{
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    columns: var(--text-dark); 
}
.destination_card_details p{
    columns: var(--text_light);
}
.destination_rating{
    padding: 5px 10px;
    font-size: .9rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: 0.3s;
}
.destination_card:hover .destination_rating{
    background-color:var(--primary_color_dark);
}

.journey_grid{
    margin-top: 2rem;
    display: grid;
    gap: 0 1rem;
}
.journey_card{
    position: relative;
    isolation: isolate;
    padding: 4rem;
    overflow: hidden;

}

.journey_card_bg{
    padding: 2rem;
    background-color: var(--extra_light);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.journey_card_bg span{
    display: inline-block;
    margin-bottom: 4rem;
    font-size: 1.75rem;
    color: var(--primary-color);
}
.journey_card_bg h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.journey_card_content{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: .3s;
}
.journey_card:hover .journey_card_content{
    top: 0;
}
.journey_card_content span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 7px 9px;
    font-size: 1rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 100%;
}
.journey_card_content h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 555;
    color: var(--white);
}
.journey_card_content p{
    color: var(--extra_light);
}

.showcase_container{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}
.showcase_image img{
    max-width: 400px;
    margin-inline: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.showcase_content h4{
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-dark);
}
.showcase_content p{
    margin-bottom: 1rem;
    color: var(--text_light);

}
.showcase_content .btn{
    width: 100%;
    margin-top: 1.5rem;
    padding: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    background-image: url(image/db632b2b01b3be6241f9ee6ab7ff9130.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.banner_container{
    display: grid;
    gap: 2rem;
}
.banner_card{
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--extra_light);
    border-radius: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.banner_card h4{
    font-size: 5rem;
    font-weight: 600;
    color: var(--primary-color);
}
.banner_card p{
    color: var(--text_light);
}
.discover_grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}
.discover_card{
    padding: 2rem 1rem;
    text-align: center;
    transition: 0.3s;
    border-radius: 1rem;
}
.discover_card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.discover_card span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: rgba(40, 135, 255, 0.1);
    border-radius: 100%;
}
.discover_card h4{
    max-width: 100px;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
    
}
.destination_card p{
    color: var(--text_light);
}
.section_description{
    justify-content: center;
    align-items: center;
}
.swiper{
    margin-top: 4rem;
    width: 100%;
}
.swiper-slide{
    min-width: 375px;
}
.client_card{
    padding: 5px;
    background-color: var(--extra_light);
    border-radius: 1rem;
    transition: 0.3s;
}
.client_card:hover{
    background-color: var(--primary-color);
}
.client_content{
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: calc(1rem - 0.5rem);
}
.client_rating{
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.client_content p{
    color: var(--text-dark);
}
.client_details{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.client_details img{
    max-width: 50px;
    border-radius: 100%;
}
.client_details h4{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-dark);
    transition: 0.3s;

}
.client_card:hover h4{
    color: var(--white);
}
.client_details h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--extra_light);
    transition: .3s;
}
.client_card:hover h5{
    color: var(--text_light);
}
footer{
    background-color: var(--extra_light);
}
.footer_container{
    display: grid;
    gap: 4rem 2rem;
}
.footer_col p{
    max-width: 300px;
    margin-block: 2rem;
    color: var(--text_light);
}
.footer_socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.footer_socials a{
    display: inline-block;
    padding: 7px 10px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;

}
.footer_socials a:hover{
    background-color: var(--primary_color_dark);
}
.footer_col h4{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.footer_links{
    display: grid;
    gap: 1rem;

}
.footer_links a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text_light);
}
.footer_links a:hover{
    color: var(--primary-color);
}
.footer_links a span{
    font-size: 1.25rem;

}
.footer_col form{
    display: grid;
    gap: 1rem;
}
.footer_col input{
    padding: .75rem;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: var(--white);
    border: 1px solid var(--text_light);
    border-radius: 5px;
}
.footer_col input::placeholder{
    color: var(--text_light);
}
.footer_col .btn{
    border-radius: 5px;

}
.footer_bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text_light);
    text-align: center;
}


@media (width > 540px){
   .destination-grid{
    grid-template-columns: repeat(2, 1fr);
   }
   .journey_grid{
    grid-template-columns: repeat(2, 1fr);
   }
   .showcase_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   }
   .banner_container{
    grid-template-columns: repeat(2, 1fr);

   }
   .discover_grid{
    grid-template-columns: repeat(2, 1fr);
   }
   .swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
   }
   .swiper-slide{
    grid-template-columns: repeat(2, 1fr);
   }
   .showcase_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
   .banner_container{
    grid-template-columns: repeat(2, 1fr);
}
   .discover_grid{
    grid-template-columns: repeat(2,1fr);
}

  .footer_container{
    grid-template-columns: repeat(2, 1fr);

  }
  .footer_col:last-child{
    grid-area: 2/1/3/2;
  }
}

@media (width > 760px){
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-widht);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
   .nav_header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }
    .nav_logo .logo{
        color: var(--text-dark);

    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }
    .nav_links a{
        color: var(--text-dark);

    }
    .nav_links a:hover{
        color: var(--primary-color);

    }
    .nav_links li:last-child{
        display: none;
    }
    .nav_btns{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .nav_btns .btn{
        padding: .75rem 2rem;
        background-color: var(--text-dark);
    }
    .nav_links a{
        font-size: 18px;
        font-weight: 500;
    }

    header{
        margin-top:0 ;

    }

    .header_container{
        grid-template-columns: minmax(0, 1fr)
         repeat(5, minmax(0, calc(var(--max-widht)/5)))
         minmax(0, 1fr);

    }
    .header_content{
        grid-column: 2/4;
        padding: 8rem;
        

    }
    .header_content :is(p, h1){
        text-align: left;
    }

    .header_btns{
        justify-content: flex-start;
    }
    .header_image{
        grid-column: 4/8;
        position: relative;
        isolation: isolate;
        height: 100%;
    }
    .header_image img{
        position: absolute;
        top: 2rem;
        left: 0;
        height: 100%;
        width: unset;
    }
    .destination_grid{
        
        height: 50%;
        width: 100%;
        display: flex;
        gap: 10%;
        padding: 10px;
        grid-template-columns: repeat(3, 1fr);
        transition: .3s;
        
    }
    .journey_grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .showcase_container{
        grid-template-columns: repeat(3, 1fr);

    }
    .showcase_content{
        grid-column: 2/4;
    }
    .banner_container{
    grid-template-columns: repeat(3, 1fr);
    
    }
    .discover_grid{
    grid-template-columns: repeat(3, 1fr);
   }

   .footer_container{
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
   }
   .footer_col:last-child{
    grid-area: unset;
   }
   .swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
   }
}
@media(width > 1200px){
    .header_content{
        padding-inline: 1rem 0 ;
    }
    .destination-grid{
        gap: 2rem;
    }
}
